<%- include('partials/header') -%>

<main class="container">
  <div class="about-section text-center">
    <img src="https://res.cloudinary.com/dvgcs9zja/image/upload/v1679864383/profilepicture_h9zpux.jpg" alt="Your Name" class="profile-picture" />
    <h2>Jorge Fernandez de la Regata</h2>
    <p class="about-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa esse molestias, nemo placeat perferendis atque earum quas vitae ipsam ratione enim sequi quisquam id qui iure temporibus non quos voluptate! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit eos velit, unde placeat veritatis minus delectus voluptas rem illo labore quasi aperiam ducimus qui quo dolores itaque tempora non ea!
    <div class="social-links">
      <a href="your-instagram-url" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
      <a href="your-twitter-url" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
      <a href="your-linkedin-url" target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
      <a href="mailto:your-email" class="social-icon"><i class="fas fa-envelope"></i></a>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>